@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@media  (min-width: 576px) and (max-width: 1199.98px){
    .deneme {
        font-size: 60px;
    }

 
}
.myHeight{
    height:  550px;
 }  
 
.box{
    height: 8rem;
    width: 8rem;
    background-color: burlywood;
}

.box2{
    position: relative;
    left: 20%;
    top: 50%;
}

.box3{
    position:absolute;
    right: 0;
    top: 0;
}